<form action="/balance/<%=@account.id%>" method="post">
  <label for="amount_field">Amount to add</label>
  <input type="number" step="0.01" id="amount_field" name="amount_to_add">
  <input type="submit" value="Add to Balance">
</form>
