<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Squid</title>
  </head>
  <body>
  <header>
      <a href="/squid"><img id="squid_logo" src="/images/squid_header_logo.png"></a>
  </header>
    <%= yield %>
  </body>
</html>
