<h1>Add Category</h1>

<div class="form-container">
  <form action="/categories" method="post">
    <label for="name_field">What's your new categories name?</label>
    <input autofocus required type="text" id="name_field" name="name">

    <label for="category-icons">Select an image for your category :</label>

    <div class="radio-icon-container">
      <% @spare_images.each do |image| %>
        <label class="radio-icon">
          <input class="category-form-input"required type="radio" id="category-icons" name="image" value=<%=image%>/>
          <img src="<%=image%>">
        </label>
      <% end %>
    </div>

    <input type='submit' value="Save">
  </form>
</div>
