header {
  background-color: #47b2a3;
  height: 100px;
  margin-top: -40px;
  margin-bottom: 10px;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  /*width: 960px;*/
  margin-left: 10%;
  margin-right: 10%;
  color: #333;
}

img {
  width: 50px;
  height: 50px;
}

aside {
  width: 100%;
}

/* flex box stylings*/

.parent-flex-grid {
  display: flex;
  flex-flow: wrap;
  height: 500px;
}

.grid {
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.grid-col-lg {
  flex: 7;
  display: flex;
  flex-direction: column;
  /*border: 1px black solid;*/
}

.account-detailed-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.account-text {
  text-align: center;
}

.account-text h3{
  margin: 0;
}

.grid-col-md {
  /*border: 1px black solid;*/
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.detailed-category-icons {
  display: flex;
  flex-direction: row;
  border: 1px solid #47b2a3;
  border-radius: 1em;
  padding: 10px;
  margin: 10px;
  align-items: center;
  /*these are the groups of category images with icon, title, amount, percentage*/
}

.grid-col-sm {
  flex: 2;
  overflow-y: scroll;
  /*border: 1px black solid;*/
}

img.cat-icon {
  padding-left: 10px;
}

#warning-text {
  color: red;
}

#add-money-icon {
  padding-top: 10px;
  height: 2em;
  width: 2em;
}

.delete-button-tr {
  align-self: flex-end
}

.category-text {
  padding-left: 10px;
  padding-right: 0;
  display: inline-block;
  text-align: center;
}

.detailed-category-icons p {
  margin: 3px;
  padding-bottom: 0;
}

.detailed-category-icons h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* table stylings */

table {
  width:100%;
  border-collapse: collapse;
}

table img {
  width: 30px;
  height: 30px;
}

th {
  background-color: #47b2a3;
  color: white;
}

th, td {
  border-bottom: 1px solid #47b2a3;
  padding: 15px;
  text-align: center;
}

tfoot {
  background-color: #47b2a3;
  color: white;
}

/* footer button stylings */



/* form stylings */

.form-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}



.form-container input {
  border-radius: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: #47b2a3;
  border-style: solid;
  font-size: 1.7em;
}

.form-container input:focus {
  border: 3px solid #555;
  outline: none;
}

.form-container select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  height: 3em;
  font-size: 1em;
  border-radius: 30px;
}

.form-container input[type=submit] {
  background-color: #47b2a3;
  color: white;
}

.form-container input[type=radio] {
  display: inline;
}

.form-container label {
  font-size: 1.5em;
  text-align: center;
}


#bottom-bar {
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
  height: 60px;
  background-color: #47b2a3;
}

button.bottom-button {
  margin-top: 0px;
  width: 100%;
  color: #47b2a3;
  background-color: white;
  border: solid 2px #47b2a3;
  border-radius: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
}

button.bottom-button:hover {
  color: white;
  border: solid 2px white;
  background-color: #47b2a3;
}
