header {
  background-color: #47b2a3;
  height: 100px;
  margin-top: -40px;
  margin-bottom: 10px;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 50px;
  height: 50px;
}

/* flex box stylings*/

.parent-flex-grid {
  display: flex;
}

.grid {
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.grid-col-lg {
  flex: 7;
  /*border: 1px black solid;*/
}

.grid-col-md {
  /*border: 1px black solid;*/
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detailed_category_icons {
  display: flex;
  flex-direction: row;
  /*these are the groups of category images with icon, title, amount, percentage*/
}

.grid-col-sm {
  flex: 2;
  display: flex;
  /*border: 1px black solid;*/
}

.account-detailed-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
/*
.account-text h3{
  margin: 0;
  padding: 0;
}*/

.delete-button-tr {
  align-self: flex-end;
}

.category-text {
  padding-left: 10px;
  display: inline-block;
  text-align: center;
}

.detailed-category-icons p {
  margin: 3px;
}

.detailed-category-icons h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* table stylings */

table {
  border-radius: 0 30px 0 0;
  width:100%;
  border-collapse: collapse;
}

table img {
  width: 30px;
  height: 30px;
}

th {
  background-color: #47b2a3;
  color: white;
}

th, td {
  border-bottom: 1px solid #47b2a3;
  padding: 15px;
  text-align: center;
}

/* footer button stylings */

.bottom-button {
  font-size: 5em;
  width:100%;
}

input.add{
  background-image:url(/images/plus_symbol.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: 30px;
  background-color: #47b2a3;
  color: #47b2a3;
  text-indent:-9999px;
  width: 100%;
  border-radius: 0 0 30px 0;
  height: 50px;
  border:2px solid #47b2a3;
}
