header {
  background-color: #47b2a3;
  height: 100px;
  margin-top: -40px;
  margin-bottom: 10px;
  width: 140%;
  margin-left: -200px;
}

h1 {
  color: #47b2a3;
  text-align: center;
  margin-top: 2em;
}

body {
  font-family: 'Roboto', sans-serif;
  /*width: 960px;*/
  margin-left: 10%;
  margin-right: 10%;
  color: #333;
  overflow: hidden;
}

img {
  width: 50px;
  height: 50px;
}

aside {
  width: 100%;
}

/* flex box stylings*/

.parent-flex-grid {
  display: flex;
  flex-flow: wrap;
  height: 575px;
}

.grid {
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.grid-col-lg {
  flex: 7;
  display: flex;
  flex-direction: column;
  /*border: 1px black solid;*/
}

.account-detailed-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.account-detailed-icon .close {
  justify-content: flex-end;
}

.account-text {
  text-align: center;
}

.account-text h3{
  margin: 0;
}

.grid-col-md {
  /*border: 1px black solid;*/
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.detailed-category-icons {
  display: flex;
  flex-direction: row;
  border: 1px solid #47b2a3;
  border-radius: 1em;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: space-around;
  /*these are the groups of category images with icon, title, amount, percentage*/
}

.grid-col-sm {
  flex: 2;
  overflow-y: scroll;
  /*border: 1px black solid;*/
}

img.cat-icon {
  padding-left: 10px;
}

#warning-text {
  color: red;
}

#add-money-icon {
  padding-top: 10px;
  height: 2em;
  width: 2em;
}

.category-text {
  padding-left: 10px;
  padding-right: 0;
  display: inline-block;
  text-align: center;
}

.detailed-category-icons p {
  margin: 3px;
  padding-bottom: 0;
}

.detailed-category-icons h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* table stylings */

table {
  width:100%;
  border-collapse: collapse;
}

table img {
  width: 30px;
  height: 30px;
}

th {
  background-color: #47b2a3;
  color: white;
}

th, td {
  border-bottom: 1px solid #47b2a3;
  padding: 15px;
  text-align: center;
}

tfoot {
  background-color: #47b2a3;
  color: white;
}

/* footer button stylings */



/* form stylings */

.form-container {
  margin-top: 60px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}



.form-container input {
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
  /*padding: 12px 20px;*/
  margin: 8px 0;
  box-sizing: border-box;
  border-color: #47b2a3;
  border-style: solid;
  font-size: 1.7em;
}

.form-container input:focus {
  border: 3px solid #47b2a3;
  outline: none;
}

.form-container select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  height: 3em;
  font-size: 1em;
  border-radius: 30px;
}

.form-container input[type=submit] {
  height: 2em;
  background-color: #47b2a3;
  color: white;
}

.form-container input[type=submit]:hover {
  background-color: white;
  color: #47b2a3;
  border: 3px solid #47b2a3;
}

.form-container label {
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}

.radio-icon {
  display: flex;
  flex-direction: column;
}

.radio-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}


#bottom-bar {
  background-color: #47b2a3;
  height: 60px;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  width: 140%;
  position: fixed;
}

#bottom-bar-contents {
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;

}



button.bottom-button {
  margin-top: 0px;
  width: 100%;
  height: 40px;
  color: #47b2a3;
  background-color: white;
  border: solid 2px #47b2a3;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 5px;
}

button.bottom-button:hover {
  color: white;
  border: solid 2px white;
  background-color: #47b2a3;
}

.grid-col-lg input[type="image"] {
  width: 20px;
  height: 20px;
}

.close {
  height:20px;
  width: 20px;
}

.box {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.delete-button-tr {
  align-self: flex-end;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  height: 200%;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 200px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 5px solid #47b2a3;
  width: 30%;
  position: relative;
  transition: all 10s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

#squid_logo {
margin-left: 200px;
margin-top: 42px;
}

.submit-button {
  background-color: black;
}

#account-box {
  align-self: flex-end;
}

.radio-icon > input {
  visibility: hidden;
  position: absolute;
}
.radio-icon > input + img {
  cursor:pointer;
  border:2px solid transparent;
}
.radio-icon > input:checked + img {
  border:1px solid #47b2a3;
  box-shadow: 0 0 8px 4px rgba(71, 168, 163, 0.8);
  border-radius: 30%;
}
