<h1>Add Transaction</h1>
<div class="form-container">
    <form action="/transactions" method="post">
      <label for="trx-name">What did you buy/pay for?</label>
      <input autofocus required type="text" id="trx-name" name="name">
      <label for="cost">How much did it cost?</label>
      <input type="number" required step="0.01" id="cost" name="amount">

      <label for="cat">Choose a category :</label>
      <select required id="cat" name="category_id">
        <% @categories.each do |category| %>
          <option value="<%=category.id%>">
            <%=category.name%>
          </option>
        <% end %>
      </select>

      <label for="account_field">Which account?</label>
      <select required id="account_field" name="account_id">
        <% @accounts.each do |account| %>
          <option value="<%=account.id%>"><%=account.name%></option>
        <% end %>
      </select>

      <input class="submit-button" type='submit' value="Save">
    </form>
</div>
